<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/materialize/css/materialize.min.css">
    <title>Friends</title>
    <style>
        [v-cloak] {
        display: none;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="container" v-cloak>
            
            <div class="row">
                <div class="col s12">
                    <h4 class="card-title" style="display: inline-block;">Friends</h4>
                    <span class="btn" style="display: inline-block;" @click="addingFriend = true">+</span>
                </div>
            </div>
            <template v-if="addingFriend">
                <div class="row">
                    <div class="col s12">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">Add New Friend</span>
                                <div class="row">
                                    <div class="input-field col s6">
                                            <input type="text" v-model.trim="newFriend.name" class="friend-name">
                                            <label>Name</label>
                                    </div>
                                    <div class="input-field col s6">
                                            <input type="text" v-model.trim="newFriend.location" class="friend-location">
                                            <label>Location</label>

                                    </div>
                                    <div class="input-field col s12">
                                        <textarea class="materialize-textarea" id="editedDescription" v-model="newFriend.description">
                                            {{ newFriend.description.trim() }}
                                        </textarea>
                                        <label>Describe them</label>

                                    </div>
                                    <div class="input-field col s6">
                                        <label for="male">
                                            <input type="radio" id="male" v-model="newFriend.gender" value="male"> <span>Male</span>
                                        </label>
                                    </div>
                                    <div class="input-field col s6">
                                        <label for="female">
                                            <input type="radio" id="female"  v-model="newFriend.gender" value="female">
                                            <span >Female</span>
                                        </label>
                                    </div>
                                </div>
                                <br>
                                <input type="submit" @click.prevent="addFriend(newFriend)" value="Save" class="btn">
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
                <!-- /Adding new-friend -->
            <div class="row">
                <div class="col s12">
                    <div id="main" class="card">
                        <div class="card-content">
                            <span class="card-title">Friends List</span>
                            <div class="row">
                                <form id="search-form">
                                    <div class="input-field col s12">
                                        <input type="text" name="search-query" v-model.trim="filter" id="search-query">
                                        <label for="search-query">Search friends</label>
                                    </div>
                                   <p v-if="filter.length"> Matches {{ filteredFriends.length | pluralize }} </p>
                                </form>
                            </div>
                        </div>
                        <!-- top form-->
                    </div>
                </div>
            </div>
            <div class="row">
                <h3 v-if="!friends.length"> You have no friends yet</h3>

                <div class="col s12" id="friend-list">
                    <friend 
                    v-for="(friend, index) in filteredFriends"
                    :friend="friend"
                    :key="index"
                    :index="index"
                    @remove-friend="friends.splice(index, 1)"
                    @friend-edited="updateFriend"
                    > </friend>
               </div>
            </div>
            <footer class="row">
                <stats :no-of-friends="noOfFriends"> </stats>
                <div class="col s12">
                    CodeByWaju 
                </div>
            </footer>
        </div>
    </div>

    <template type="text/x-template" id="friend-template"> 
        
                <div class="card friend">                  
                    <div class="card-content">
                        <template v-if="isEditing">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input type="text" v-model.trim="friend.name" class="friend-name">
                                </div>
                                <div class="input-field col s6">
                                        <input type="text" v-model.trim="friend.location" class="friend-location">
                                </div>
                                <div class="input-field col s12">
                                    <textarea class="materialize-textarea" id="editedDescription" v-model="friend.description">
                                        {{ friend.description.trim() }}
                                    </textarea>
                                </div>
                                <div class="input-field col s6">
                                    <label for="male">
                                        <input type="radio" id="male" v-model="friend.gender" value="male"> <span>Male</span>
                                    </label>
                                </div>
                                <div class="input-field col s6">
                                    <label for="female">
                                        <input type="radio" id="female"  v-model="friend.gender" value="female">
                                        <span >Female</span>
                                    </label>
                                </div>
                            </div>
                       </template>
                        <br>
                        <template v-if="!isEditing">
                            <p class="name card-title">{{ friend.name }} <small class="gender">({{ friend.gender }})</small></p>
                            <p class="location">Location: {{ friend.location }} </p>
                            <p class="detail">
                                {{ friend.description }}
                            </p>
                        </template>
                        <br>
                        <div class="action">
                            <button v-if="isEditing"  @click="friendEdited" class="btn">Save</button>
                            <button v-if="!isEditing" class="btn" @click="isEditing = true">Edit</button> <button class="btn" @click="removeFriend(friend)">&times;</button>
                        </div>
                    </div>
                </div>
      </template>
      <template type="text/x-template" id="stats-template">
        <div class="col s12">
            <p class="text-align:center;">You have {{ noOfFriends | pluralize  }}</p>
        </div>
      </template>
    
    <script src="materialize/jquery.min.js"></script>
    <script src="materialize/js/materialize.min.js"></script>
    <script src="vue.js"></script>
    <script src="app.js"></script>
</body>
</html>